.icon{
  display: inline-block;
}
.icon__set{
  margin-right: 25px;
  vertical-align: middle;
}
.icon__set svg{
  position: relative;
}
.icon__set_one{
  width: 320px
}
.icon__set_two{
  width: 164px
}
.icon__set_three{
  width: 64px
}
